In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('tweets.csv',low_memory=False)

In [7]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1406335989484822531,1406335989484822531,2021-06-20 01:10:03 IST,2021-06-20,01:10:03,530,16264836,apress,Apress,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1406292636789526537,1406292636789526537,2021-06-19 22:17:46 IST,2021-06-19,22:17:46,530,17818254,careersherpa,Hannah Morgan,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1406082288035811330,1406082288035811330,2021-06-19 08:21:55 IST,2021-06-19,08:21:55,530,15808647,techreview,MIT Technology Review,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1405948260796100610,1405948260796100610,2021-06-18 23:29:21 IST,2021-06-18,23:29:21,530,366154590,gurmanbhatia,Gurman Bhatia,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1405942146960613376,1405942146960613376,2021-06-18 23:05:03 IST,2021-06-18,23:05:03,530,239971233,cdcinjury,CDC Injury Center,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33590 entries, 0 to 33589
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               33590 non-null  int64
 1   conversation_id  33590 non-null  int64
 2   created_at       33590 non-null  object
 3   date             33590 non-null  object
 4   time             33590 non-null  object
 5   timezone         33590 non-null  int64
 6   user_id          33590 non-null  int64
 7   username         33590 non-null  object
 8   name             33590 non-null  object
 9   place            85 non-null     object
 10  tweet            33590 non-null  object
 11  language         33590 non-null  object
 12  mentions         33590 non-null  object
 13  urls             33590 non-null  object
 14  photos           33590 non-null  object
 15  replies_count    33590 non-null  int64
 16  retweets_count   33590 non-null  int64
 17  likes_count      33590 non-null  int64
 18  hashtags         33590 non-null  object
 19  cashtags         33590 non-null  object
 20  link             33590 non-null  object
 21  retweet          33590 non-null  bool
 22  quote_url        1241 non-null   object
 23  video            33590 non-null  int64
 24  thumbnail        9473 non-null   object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         33590 non-null  object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 9.0+ MB

In [11]:
df.isnull().sum()

id                     0
conversation_id        0
created_at             0
date                   0
time                   0
timezone               0
user_id                0
username               0
name                   0
place              33505
tweet                  0
language               0
mentions               0
urls                   0
photos                 0
replies_count          0
retweets_count         0
likes_count            0
hashtags               0
cashtags               0
link                   0
retweet                0
quote_url          32349
video                  0
thumbnail          24117
near               33590
geo                33590
source             33590
user_rt_id         33590
user_rt            33590
retweet_id         33590
reply_to               0
retweet_date       33590
translate          33590
trans_src          33590
trans_dest         33590
dtype: int64

In [13]:
df['tweet'][10]

'We are pleased to invite you to the EDHEC DataViz Challenge grand final for a virtual exchange with all Top 10 finalists to see how data visualization creates impact and can bring out compelling stories in support of @UNICEFâ€™s mission.  https://t.co/Vbj9B48VjV'

In [23]:
import nltk 
from nltk.corpus import words 
nltk.download('vader_lexicon') 
from nltk.sentiment.vader import SentimentIntensityAnalyzer 
sid = SentimentIntensityAnalyzer() 
import re 
import nltk

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ishan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [25]:
nltk.download('words') 
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\ishan\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [27]:
sid

In [29]:
sentence = df['tweet'][0] 
sid.polarity_scores(sentence)['compound']

0.7089

In [31]:
import nltk 
from nltk.corpus import words

In [37]:
word_list = set(words.words()) 
def cleaner(tweet): 
    tweet = re.sub("@[A-Za-z0-9]+", "", tweet)  # Remove @ mentions 
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", tweet)  # Remo 
    tweet = " ".join(tweet.split())  # Remove extra spaces 
    tweet = tweet.replace("#", "").replace("_", " ")  # Remove hashtags and 
    tweet = " ".join( 
        w for w in nltk.wordpunct_tokenize(tweet) 
        if w.lower() in word_list or not w.isalpha() 
    ) 
    return tweet 
 
df['tweet_clean'] = df['tweet'].apply(cleaner)

In [39]:
# Define custom sentiment dictionary 
word_dict = { 
    'manipulate': -1, 
    'manipulative': -1, 
    'jamescharlesiscancelled': -1, 
    'jamescharlesisoverparty': -1, 
    'pedophile': -1, 
    'pedo': -1, 
    'cancel': -1, 
    'cancelled': -1, 
    'cancel culture': 0.4, 
    'teamtati': -1,
    'teamjames': 1, 
    'teamjamescharles': 1, 
    'liar': -1 
} 
 
# Initialize the analyzer and update the lexicon 
sid = SentimentIntensityAnalyzer() 
sid.lexicon.update(word_dict) 
 
# Apply compound score to cleaned tweets 
list1 = [] 
for i in df['tweet_clean']: 
    score = sid.polarity_scores(str(i))['compound'] 
    list1.append(score) 
 
# store the results in a new column 
df['sentiment_score'] = list1